/* CRUSTAR Version 2 */

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0B3B2E;
    color:#ffffff;
}
.logo img{
    height:80px;
    width:auto;
    display:block;
}
